services:
  core:
    container_name: edge-mining-core
    restart: unless-stopped
    build:
      context: ./core
    expose:
      - "8001"
    volumes:
      - ./user_data/optimization_policies:/app/optimization_policies
      - ./user_data/edgemining.db:/app/edgemining.db
    environment:
      - TIMEZONE=Europe/Rome # Set your timezone
      - SCHEDULER_INTERVAL_SECONDS=5 # Interval for the scheduler
    networks:
      - edge-mining-net

  nginx:
    container_name: edge-mining-nginx
    restart: unless-stopped
    build:
      context: ./frontend
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - core
    networks:
      - edge-mining-net

networks:
  edge-mining-net:
    name: edge-mining-net
