# Core Dependencies
pydantic==2.11.0
pyyaml==6.0.2
pydantic-settings==2.8.1
apscheduler==3.11.0
click==8.1.8
loguru==0.7.3

# Database ORM and Migrations
sqlalchemy>=2.0.0
alembic>=1.13.0

# Optional - For API Driving Adapter
fastapi==0.115.12
uvicorn[standard]==0.34.1

# Optional - For specific Driven Adapters
paho-mqtt==2.1.0
homeassistant_api==4.2.2.post1
python-telegram-bot>=20.0
astral==3.2
pyasic==0.77.2
